* {
  scroll-behavior: smooth;
}
body {
  background-image: url("/public/images/background image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about {
  height: 100vh;
}
.head-div p {
  text-align: center;
  padding: 50px 0px;
  font-size: 40px;
  color: #072047;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.content-div {
  margin: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  font-size: 16px;
}
.card-one,
.card-three {
  padding: 40px;
  background: rgba(181, 182, 247, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(2, 42, 105, 0.073);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}
.card-two {
  display: flex;
  text-align: center;
  column-gap: 30px;
}
.card-two p {
  padding: 40px 20px;
  background: rgba(181, 182, 247, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(2, 42, 105, 0.073);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.contact {
  height: 30vh;
}
.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  text-align: center;
  height: 100%;
  font-size: 16px;
}
.contact-content img {
  width: 80px;
}
.copyright-div {
  padding: 3% 0%;
  text-align: center;
}
.copyright-div p {
  font-size: 14px;
  color: rgb(204, 204, 204);
}
